In [5]:
import pandas as pd

# Create a DataFrame

## Create a dataframe from a dict

In [8]:
data = [
    {'a': 1, 'b': 2, 'c': 3, 'd': 5, 'e': 8, 'f': 11},
    {'a': 9, 'b': 18, 'c': 27, 'd': 36, 'e': 45, 'f': 54}
]

pd.DataFrame.from_dict(data)

   a   b   c   d   e   f
0  1   2   3   5   8  11
1  9  18  27  36  45  54

## Create a dataframe from a csv

Note how you use `index_col` as a number, to set the index.

In [11]:
pd.read_csv('sample_data.csv', index_col=4)

           team  round1  round2  round3
date
2020/7/1    red       1      10       6
2020/6/1  green       2      20      12
2020/5/1   blue       3      30      18