In [5]:
import pandas as pd

# Create a DataFrame

## Create a data frame from a dict

In [8]:
data = [
    {'a': 1, 'b': 2, 'c': 3, 'd': 5, 'e': 8, 'f': 11},
    {'a': 9, 'b': 18, 'c': 27, 'd': 36, 'e': 45, 'f': 54}
]

pd.DataFrame.from_dict(data)

   a   b   c   d   e   f
0  1   2   3   5   8  11
1  9  18  27  36  45  54